*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background:#000;
    color: #fff;
}

.header{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    /* padding: 10px 8%; */
    position: relative;
} 

nav button{
    border-radius: 4px;
    border: 0;
    outline: 0;
    background:#db0001;
    color:#fff;
    padding: 7px 20px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}

.logo{
    cursor: pointer;
    width: 150px;
    margin-right: 1000px;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px 40px;
    z-index: 2;
    position: absolute;
}

.header-contain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}

.header-contain h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-contain h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup{
    background: #fff;
    border-radius: 4px;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button{
    background:#db0001 ;
    border: 0;
    outline: 0;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}
  
/* -----------------Features----------------- */

.features{
    font-size: 22px;
}

.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-bottom:#232323 solid 5px; 
    border-top: #232323 solid 5px;
    padding: 50px;
}

/* -----------------faq----------- */
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size:18px;
}

.faq h2{
    font-weight: 500;
    font-size: 40px;
}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background:#303030 ;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}